[Unit]
Description=Book Downloader Web Server
After=network.target ebookdatabase.service docker.service

[Service]
Type=simple
ExecStart=/home/{user}/book-downloader-web/backend/venv/bin/python main.py
WorkingDirectory=/home/{user}/book-downloader-web/backend
Restart=no
Environment="PATH=/home/{user}/book-downloader-web/backend/venv/bin:/usr/bin:/bin"
Environment="TMPDIR=/home/{user}/tmp/ocrmypdf"
Environment="BDW_CONFIG_DIR=/home/{user}/.book-downloader"

[Install]
WantedBy=default.target
